.games-section{
    h3{
        color: #ffb700;
        font-size: 30px;
    }
    .game-banner{
        background-image: url("https://t3.ftcdn.net/jpg/04/13/99/08/360_F_413990886_hChS8igRgaOC4IlkIFIxiQ2EeW5U8LKf.jpg");
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        background-size: cover;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
        background-color: #ffb700;
        color: #fff;
    }
    .nav-tabs .nav-link{
        color: #000;
    }
    .card{
        border-radius: 15px;

        img{
            border-radius: 15px;
            width: 100%;
            height: 100%;

        }
    }
}