.gameplay {
  .navbar {
    background-color: #353535 !important;
    color: #fff;
    .nav-link {
      color: #fff;
    }
    .drop-btn {
      .btn {
        background-color: #d5d5d5;
        border: 0;
        color: #000;
      }
    }
    .form-control {
      width: 100%;
      min-width: 800px;
      background-color: #353535;
      border: 2px solid #000;
      border-radius: 25px;
    }
  }
  .gameplay-body {
    background-color: #4c4c4c;
    padding: 1rem 0;
    .timer-div {
      .round {
        border: 1px solid #fff;
        width: 64px;
        height: 243px;
        border-bottom-right-radius: 67%;
        border-top-right-radius: 76%;
        box-shadow: 0 0 10px #000;
      }
    }
    .circle {
      border: 1px solid #fff;
      border-radius: 50px;
      width: 30px;
      height: 30px;
      color: #fff;
    }
    img {
      width: 30px;
      height: 30px;
    }
    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      margin-top: 2rem;
      li {
        padding-bottom: 1rem;
        margin-left: 12px;
      }
    }
    .timer {
      h5 {
        color: #fff;
        margin-top: 1rem;
        text-transform: uppercase;
      }
    }
  }
  .winner {
    padding: 1rem;
  }
  .box1 {
    border: 1px solid #ccc;
    width: 130px;
    padding: 2px 8px;
    border-radius: 5px;
    h4 {
      margin-bottom: 0;
      color: yellow;
    }
    h6 {
      margin-bottom: 0;
    }
  }
  .camera-img {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .history {
    padding: 0 1rem;
    .his-text {
      color: #fff;
      text-transform: uppercase;
    }
  }
  .scored {
    .green-box {
      background-color: #1d744a;
      padding: 1rem;
      margin-right: 0.5rem;
      border-radius: 10px;
      cursor: pointer;
      .form-control {
        width: 20px;
        border-radius: 50%;
        padding: 0;
        text-align: center;
        height: 30px;
      }
    }
    .green-box-blinking {
      background-color: #1d744a;
      padding: 1rem;
      width: 100%;
      border: 2px solid #1d744a;
      border-radius: 5px;
      animation: glowing-border 2s infinite;

      @keyframes glowing-border {
        0%,
        100% {
          border-color: #a53636;
          box-shadow: 0 0 10px #a53636;
        }
        50% {
          border-color: #a53636;
          box-shadow: 0 0 20px rgba(29, 116, 74, 1);
        }
      }

      @keyframes blink {
        0%,
        100% {
          border-color: #a53636;
          box-shadow: 0 0 10px #a53636;
        }
        50% {
          border-color: transparent;
          box-shadow: none;
        }
      }
    }

    .white-text {
      color: #fff;
      font-weight: bold;
    }
    .circle {
      border-radius: 50%;
      background-color: #fff;
    }
    .red-circle {
      border-radius: 50%;
      background-color: red;
      width: 30px;
      height: 30px;
      color: #fff;
    }
    .blue-box {
      background-color: #00487b;
      color: #fff;
      padding: 1rem;
      border-radius: 10px;
      width: 150px;
      height: 120px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      h5 {
        margin-bottom: 0;
        text-transform: uppercase;
      }
      .btn-rank {
        border: 1px solid #fff;
        background-color: transparent;
        margin-top: 1rem;
        text-transform: uppercase;
        color: yellow;
      }
      .bet-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        opacity: 0;
        transition: opacity 1s ease-out;
        visibility: hidden;
      }
      .bet-container.visible {
        opacity: 1;
        visibility: visible;
      }

      .check-icon,
      .cross-icon {
        cursor: pointer;
        font-size: 16px;
      }
    }
    .blue-box-blinking {
      background-color: #00487b;
      color: #fff;
      padding: 1rem;
      border-radius: 10px;
      width: 150px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #00487b;
      animation: glowing-border 2s infinite;

      @keyframes glowing-border {
        0%,
        100% {
          border-color: #ca2727;
          box-shadow: 0 0 10px #ca2727;
        }
        50% {
          border-color: #ca2727;
          box-shadow: 0 0 20px #ca2727;
        }
      }

      @keyframes blink {
        0%,
        100% {
          border-color: #00487b;
          box-shadow: 0 0 10px #ca2727;
        }
        50% {
          border-color: transparent;
          box-shadow: none;
        }
      }
    }
    .camera2 {
      width: 100% !important;
      height: 31% !important;
    }
    .red-box {
      background-color: #7c0003;
      color: #fff;
      padding: 1rem;
      border-radius: 10px;
      width: 150px;
      height: 120px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      h5 {
        margin-bottom: 0;
        text-transform: uppercase;
      }
      .btn-rank {
        border: 1px solid #fff;
        background-color: transparent;
        margin-top: 1rem;
        text-transform: uppercase;
        color: yellow;
      }
    }
  }
  .footer-gameplay {
    background-color: #3d3d3d;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    h6 {
      color: yellow;
    }
    .btn-balance {
      border: 1px solid #fff;
      margin-left: 1rem;
      background-color: transparent;
      font-size: 14px;
    }
    .slider-btn {
      border: 1px solid #fff;
      width: 400px;
      height: 70px;
      box-shadow: 0 0 10px #000;
      ul {
        list-style: none;
        display: flex;
        margin-bottom: 0;
        padding-left: 1rem;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        li {
          margin-right: 1rem;
          text-align: center;
        }
      }
      img {
        position: relative;
        width: 50px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
          rgba(17, 17, 26, 0.05) 0px 8px 32px;
        opacity: 0.9;
        cursor: pointer;
      }
      p {
        position: absolute;
        bottom: 20.5%;
        margin-left: 10px;
        font-weight: bolder;
        color: #fff;
        cursor: pointer;
      }
    }
    .confirm-btn {
      background-color: rgb(233, 188, 39);
      color: #000;
      border: 0;
      padding: 4px 20px;
      font-size: 13px;
      height: 40px;
    }
    .rebet-btn {
      background-color: rgb(233, 188, 39);
      color: #000;
      border: 0;
      padding: 4px 20px;
      font-size: 14px;
      height: 40px;
    }
    .clear-btn {
      border: 1px solid #ddd;
      background-color: transparent;
      height: 40px;
      font-size: 14px;
      padding: 4px 20px;
    }
  }
  .bg-white {
    background-color: #fff;

    .green-box {
      background-color: #1d744a;
      padding: 1rem;
      width: 100%;
    }
    .row-gap1 {
      column-gap: 3rem;
    }
  }
  .camera-btn {
    background-color: #212fec;
    border: 0;
  }
  .live-btn {
    background-color: #5b9b4f;
    border: 0;
  }
  .footer-div {
    background-color: #fff;
    padding-top: 3rem;
    .deal-box {
      background-color: #ddd;
      padding: 1rem;
      .sortimg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.blinking {
  animation: blink 1s infinite;
}
.game-ui {
  position: relative;
  background-image: url("./images/bgtop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  .top-link{
    ul{
      list-style: none;
      display: flex;

      li{
        img{
          width: 30px;
          margin-right: 1rem;
          border-radius: 10px;

        }
      }
    }
    .balance{
      width: 28px;
      height: 28px;

      border-radius: 5px;
    }
    .input-group {
      width: 48%;
      margin-left: 7rem;
    }
    .gap-3{
      width: 24%;
    }
  }
  .game-play {
    background-image: url("./images/table.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    .box-1 {
      top: 118px;
      height: 156px;
      width: 260px;
      border-radius: 84% 16% 0% 100% / 100% 0% 100% 0%;
      position: absolute;
      left: 232px;
      background-color: #234f67;
      border: 1px solid #418ba1;
      box-shadow: 0 0 10px #9ecaed;

    }
    .box-2 {
      top: 118px;
      height: 156px;
      width: 260px;
      border-radius: 0% 100% 2% 98% / 100% 100% 0% 0%;
      position: absolute;
      right: 233px;
      background-color: #234f67;
      border: 1px solid #418ba1;
      box-shadow: 0 0 10px #9ecaed;

    }
    .box-3 {
      top: 318px;
      height: 156px;
      width: 260px;
      border-radius: 0% 100% 0% 100% / 1% 0% 100% 99%;
      position: absolute;
      left: 233px;
      background-color: #234f67;
      border: 1px solid #418ba1;
      box-shadow: 0 0 10px #9ecaed;

    }
    .box-4 {
      height: 156px;
      width: 165px;
      position: absolute;
      left: 170px;
      top: 318px;
      background-color: #234f67;
      border: 1px solid #418ba1;
      box-shadow: 0 0 10px #9ecaed;

    }
    .box-5 {
      height: 156px;
      width: 159px;
      position: absolute;
      left: 16px;
      top: 318px;
      background-color: #234f67;
      border: 1px solid #418ba1;
      box-shadow: 0 0 10px #9ecaed;

    }
    .box-6 {
      top: 318px;
      height: 156px;
      width: 260px;
      border-radius: 0% 100% 100% 0% / 1% 0% 100% 99%;

      position: absolute;
      right: 233px;
      background-color: #234f67;
      border: 1px solid #418ba1;
      box-shadow: 0 0 10px #9ecaed;

    }
    .dollar {
      position: absolute;
      position: absolute;
      top: 0%;
      left: 40%;
      border-bottom: 1px solid #418ba1;
      width: 60%;
      background-color: #154159;
      border-radius: 99% 12% 0% 0% / 100% 0% 98% 6% ;
    }
    h5 {
      color: #fcc857;
    }
    h4 {
      color: #fcc857;
    }
    .dollar2 {
      position: absolute;
      position: absolute;
      top: 2%;
      left: 0%;
      border-bottom: 1px solid #418ba1;
      width: 55%;
      border-radius: 9% 100% 0% 100% / 0% 100% 0% 0%  ;
      background-color: #154159;


    }
    .dollar3 {
      position: absolute;
      top: 0%;
      left: 4%;
      border-bottom: 1px solid #418ba1;
      width: 96%;
      padding: 5px;
      background-color: #154159;

    }
    .dollar6 {
      position: absolute;
      top: 0%;
      left: 0%;
      border-bottom: 1px solid #418ba1;
      width: 97%;
      padding: 5px;
      background-color: #154159;

    }
    .live-camera{
      position: absolute;
      border: 1px solid #ccc;
      top: -37px;
      left: 170px;
      width: 51%;
      height: 304px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
  .footer-chip{
    width: 50%;
    padding: .6rem;
    left: 25%;
    bottom: 1%;
    position: absolute;
    background-color: #224b62;
    border-radius: 50px;
    box-shadow: 0 0 20px #9ecaed;
    img{
      border-radius: 50%;
      width: 80px;
    }
    
  }
}

.table-div {
  width: 30%;
  
}
