.gameplay{
    .navbar{
        background-color: #353535!important;
        color: #fff;
        .nav-link{
            color: #fff;
        }
        .drop-btn{
            .btn{
                background-color: #d5d5d5;
                border: 0;
                color: #000;


            }
        }
        .form-control{
            width: 100%;
            min-width: 800px;
            background-color: #353535;
            border: 2px solid #000;
            border-radius: 25px;
        }
    }
    .gameplay-body{
        background-color: #4c4c4c;
        padding: 1rem 0;
        .timer-div{
            .round{
                border: 1px solid #fff;
                width: 64px;
                height: 243px;
                border-bottom-right-radius: 67%;
                border-top-right-radius: 76%;
                box-shadow: 0 0 10px #000;
}
            }
            .circle{
    
                border: 1px solid #fff;
                border-radius:50px;
                width: 30px;
                height: 30px;
                color: #fff;
                
            }
            img{
                width: 30px;
                height: 30px;
            }
            ul{
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;
                margin-top: 2rem;
                li{
                    padding-bottom: 1rem;
                    margin-left: 12px;

                }
            }
            .timer{
                h5{
                    color: #fff;
                    margin-top: 1rem;
                    text-transform: uppercase;
                }
            }
        
    }
    .winner{
        padding: 1rem;
    }
    .box1{
        border: 1px solid #ccc;
        width: 130px;
        padding: 2px 8px;
        border-radius: 5px;
        h4{
            margin-bottom: 0;
            color: yellow;
        }
        h6{
            margin-bottom: 0;
        }

    }
    .camera-img{
        img{width: 100%;
        height: 100%;}
    }
    .history{
        padding: 0 1rem;
        .his-text{
            color: #fff;
            text-transform: uppercase;
        }
    }
    .scored{
        .green-box{
            background-color: #1d744a;
            padding: 1rem;
            .form-control{
                width: 20px;
                border-radius: 50%;
                padding: 0;
                text-align: center;
                height: 30px;
            }
            
        }
        .blue-box{
            background-color: #00487b;
            color: #fff;
            padding: 1rem;
            border-radius: 5px;
            width: 150px;
            height: 120px;

            h5{
                margin-bottom: 0;
                text-transform: uppercase;
            }
            .btn-rank{
                border: 1px solid #fff;
                background-color: transparent;
                margin-top: 1rem;
                text-transform: uppercase;
                color: yellow;
            }
        }
        .camera2{
            width: 100%!important;
            height: 58%!important;
        }
        .red-box{
            background-color: #7c0003;
            color: #fff;
            padding: 1rem;
            border-radius: 5px;
            width: 150px;
            height: 120px;

            h5{
                margin-bottom: 0;
                text-transform: uppercase;
            }
            .btn-rank{
                border: 1px solid #fff;
                background-color: transparent;
                margin-top: 1rem;
                text-transform: uppercase;
                color: yellow;
            }
        }
    }
    .footer-gameplay{
        background-color: #3d3d3d;
        padding: 1rem;
        h6{
            color:yellow
        }
        .btn-balance{
            border: 1px solid #fff;
            margin-left:1rem;
            background-color: transparent;
            font-size: 14px;
        }
        .slider-btn{
            border: 1px solid #fff;
            width: 400px;
            height: 50px;
            box-shadow: 0 0 10px #000;
            ul{
                list-style: none;
                display: flex;
                margin-bottom: 0;
                padding-left: 1rem;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
            
                li{
                    margin-right: 1rem;
                    text-align: center;
                }
            }
            img{
                width: 30px;
            }
          
}
.confirm-btn{
    background-color: rgb(233, 188, 39);
    color: #000;
    border: 0;
    padding: 4px 20px;
    font-size: 13px;
    height: 40px;


}
.rebet-btn{
    background-color: rgb(233, 188, 39);
    color: #000;
    border: 0;
    padding: 4px 20px;
    font-size: 14px;
    height: 40px;

}
.clear-btn{
    border: 1px solid #ddd;
    background-color: transparent;
    height: 40px;
    font-size: 14px;
    padding: 4px 20px;



}
    }
    .bg-white{
        background-color: #fff;
    
.green-box{
    background-color: #1d744a;
    padding: 1rem;
    .form-control{
        width: 20px;
        border-radius: 50%;
        padding: 0;
        text-align: center;
        height: 30px;
    }
    
}
.row-gap1{
    column-gap:3rem
}
}
.camera-btn{
    background-color: #212fec;
    border: 0;
}
.live-btn{
    background-color: #5b9b4f;
    border: 0;
}
.footer-div{
    background-color: #fff;
    padding-top: 3rem;
    .deal-box{
        background-color: #ddd;
        padding: 1rem;
        .sortimg{
            width: 20px;
            height: 20px;
        }
    }
   
}
}