.buttoncss{
    background: linear-gradient(109.77deg, #5200FF 21.74%, #DD1350 91.44%);
}
.dealer-container{
    min-width: 100vh;
    height: 100%;
}

.box-container{
    height: -1rem;
}
.live-stream-container{
      z-index: 1;
    position: absolute;
    top: 24%;
    left: 34%;
    width: 31% !important;
    height: 31% !important;
}
.live-stream-container video{
  position: absolute;
}
.live-stream-container2{
    z-index: 1;
    position: absolute;
    top: 24%;
    left: 34%;
    width: 7% !important;
    height: 25% !important;
}
.live-stream-container2 video{
  position: absolute;
  border-radius: 50%;
  height: 54% !important;
    width: 120px !important;
}
@media only screen and (max-device-width: 768px) and (orientation: portrait) {
  .game-container {
    display: none;
  }

  .landscape-warning {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
}
